.artistCard{
    padding: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer
}
.artistCard:hover{
    transform: scale(1.1);
transition: ease-in-out 1000ms;
}
.artistCard >p{
    text-align: center;
    padding: 10px;
}
.artistCard > img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--blue);
}