.category{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.cat-bg{
    background: var(--bg);
    padding: 20px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    position: relative;
    justify-content: center;
    display: flex;
    margin: 5px;
    cursor: pointer;
}

.category > h3{
    position: absolute;
    left: 10px;
}

@media (max-width: 768px){
    .cat-bg{
        width: 180px;
    }
}
@media (max-width: 425px){
    .cat-bg{
        width:300px;
        margin: 10px auto;
    }
}
