.feed{
    flex: 5.5;
    display: flex;
    overflow: scroll;
    height: 100vh;
}

.feed::-webkit-scrollbar{
    display: none;
  }


  @media (max-width: 425px) {
    .feed{
        flex-direction: column;
    justify-content: space-between;
    flex: 1;
    }
   
  }