.rightSideBar{
   flex: 1;
   overflow: scroll;
padding-bottom: 100px;

}
.rightSideBar::-webkit-scrollbar{
   display: none;
 }

.top-chart{
   background: #001b31a2;
   border-radius: 10px;
   padding: 20px 15px;
   margin: 50px 10px;
   margin-bottom: 50px;
}

.top-chart > h3{
   padding: 10px;
   padding-bottom: 20px;
}
.categories > h3{
   padding: 10px;
   padding-left: 10px;
}
.cats{
   margin-bottom: 50px;
   display: flex;
   flex-wrap: wrap;
}

@media (max-width: 768px) {
   .rightSideBar{
      flex: 1;
  
   }
   .cats{
      align-items: center;
      margin-left: 10px;   
   }
  
   .categories > h3{
      text-align: center;
   }
}
@media (max-width: 425px){
   .rightSideBar{


   }
}