/* Sidebar CSS */
.sidebar {
  flex: 1.25;
  background-color: var(--bg);
  border-right: 1px solid gray;
  padding: 20px 30px;
  transition: transform 0.3s;
  transform: translateX(0);
}

.sidebar.open {
  transform: translateX(-100%);
}

.logo {
  display: flex;
  align-items: center;
  color: #01ff89;
  gap: 5px;
  cursor: pointer;
}

.logo h1 {
  font-size: 24px;
}

.icon {
  font-size: 24px;
}

.menu-items {
  margin-top: 50px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  color: #eee;
  font-size: 20px;
  cursor: pointer;
}

.item:hover,
.active {
  background: linear-gradient(-90deg, #01ff883f 50%, #01b7ff35 100%);
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
}

.btn {
  padding: 12px 40px;
  width: 200px;
  margin-top: 30px;
  font-size: 16px;
  background: none;
  border: 1.25px solid rgb(241, 241, 241);
  border-radius: 5px;
  color: rgb(241, 241, 241);
  font-weight: 700;
  cursor: pointer;
}
.menu-icon{
   font-size:30px;
 position: absolute;
 right: 20px;
 top: 10px;
 color: #01ff89;
}
.btn:hover {
  background-color: rgb(241, 241, 241);
  color: #011627e0;
}

/* Media Queries */
@media (max-width: 768px) {
    /* .sidebar{
        display:none;
    } */
   
  /* .menu-icon {
 display: none;
  } */

  .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 1;
  }
}

/* Add transition to smoothly animate the sidebar's appearance */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%; /* Adjust the width as needed */
    background-color: #011627;
    border-right: 1px solid gray;
    padding: 20px 30px;
    transition: transform 0.3s ease;
    /* The sidebar will slide in from the left when opened */
    transform: translateX(-100%);
    overflow-y: scroll;
    z-index: 2; /* Make the sidebar overlap other components */
  }
.sidebar::-webkit-scrollbar{
  display: none;
}

.sidebar.open {
  /* Translate the sidebar off-screen when it's closed */
  transform: translateX(0);
 
}

/* .container {
    position: relative;
    margin-left: 50%; /* Adjust the margin to make space for the sidebar 
  } */